######################
## Visual Studio
######################

# Cache/options directory
.vs/

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.publishproj

######################
## Visual Studio Code
######################

# Cache/options directory
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

######################
## JetBrains IDEs
######################

# Cache/options directory
.idea/*

######################
## NuGet
######################

# NuGet Packages
*.nupkg
*.nuget.props
*.nuget.targets

# The packages folder can be ignored because of Package Restore
**/packages/*

# except build/, which is used as an MSBuild target.
!**/packages/build/

######################
## Node.js
######################

# Node Packages
node_modules/

# npm
.npm/*

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

######################
## Windows detritus
######################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

######################
## OSX
######################

*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

######################
## Others
######################
